@model IEnumerable<WebApplication39.Models.Maas>

@{
    ViewData["Title"] = "Index";
}

<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

<h3 style="margin-left:300px">MAAŞ SAYFASI</h3>
<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Bakiye)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Bakiye)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-info" href="/Maas/Create/" role="button">MAAŞ EKLE</a>